<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        <title>Pseudocode Cort</title>
        <link rel="icon" href="{{ url_for('static', filename='img/logodepse.png') }}" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div id="ajustadordeNotificacion">
            <section id="NotifiDeBienvenido">
                <h1>Bienvenido a Pseudocode Cort</h1>
                <p>Esta web fue creada para escribir pseudocodigo 
                    como un profesional, facil y sencillo, sin necesidad de saberlo todo.
                </p>
                <a href="/index">Comenzar</a>
            </section>
        </div>
        <canvas id="animacionEstrellas"></canvas>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>