/*1.estructura general: 
body, header, main*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*aquí se modifica el encabezado de web header*/
header{
    height:10%;
    display:flex;
    padding: 8px;
    position: relative;
}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo img{
    width: 38px;
}

#buscadorDeLis{
    margin: 0 auto;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:  opacity .4s, visibility .4s;
}

#buscadorDeLis.visible{
    opacity: 1;
    visibility: visible;
    pointer-events:auto ;
}

#textBuscador{
    height: 45px;
    width: 550px;
    padding: 0 30px;
    outline:none;
    border: 2px solid transparent;
    border-radius: 12px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2) ;
}

#lupaBuscador{
    background: transparent;
    border: none;
    position: absolute;
    width: 20px;
    top: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    right: 10px;
}

/*aqui se modifica la caneca elimina todo*/
#eliminartodo{
    width: 38px;
    margin-left: auto;
    fill: #F7320C;
    transform: translateY(0);
    transition: transform .3s ease, width .3s ease ;
}

#eliminartodo:hover {
    transform: translateY(-8px);
    width: 42px;
}

#botonMenu{
    background: transparent;
    border:none;
    transition: background .4s, border .3s, border-radius .4s;
}

#botonMenu:hover {
    background: #E7E7E7;
    border: 2px solid transparent;
    border-radius: 8px;
}

#menuDesplegables{
    width: 38px;
    fill: #000;
    transition:  fill .4s ease;
}
#cajaMeni{
    right: 10px;
    top: 50px;
    width: 220px;
    height: 190px;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .4s;
}

#cajaMeni.visible{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    cursor: pointer;
}

#cajaMeni ul li svg{
    width: 20px;
}

#cajaMeni ul li{
    display: flex;
    padding: 6px;
    background: #fff;
    margin:3px;
    transform:  translateX(0);
    transition: background .3s ease, transfotm .4s ease;
}

#cajaMeni ul li:hover {
    background: #E7E7E7;
    transform: translatex(6px);
    border-radius: 8px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
}

/*aqui el ancho y lo que tenga que ver el main*/
main{
    height: 90%;
}
/*2.lista de tareas:
#listado, li, span, p, botones*/
#listado{
    list-style: none;
    height: 100%;
    margin-bottom: 130px;
    display: grid;
    justify-content: center;
}
/*3.panel inferior:
formulario, input, botón agregar, contador*/

#dividorCampo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 15px 30px;
    background: #fff;
}

#formulario{
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#cuadroDeTexto{
    width:550px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    outline:none;
    background: linear-gradient(to right, #E7E7E7, #fff);
    transition: background 0.3s ease, color 0.3s ease;
    padding:0 30px;
}

#agregar{
    width: 40px;
    font-size: 23px;
    height: 40px;
    position: absolute;
    right: 10px;
    background: #27F5BB;
    color:  #fff;
    border-radius: 60%;
    border:none;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background .3s ease-in-out, transform .2s ease;
}

#agregar:hover{
    background: #18C995;
    transform:scale(1.08);
}

#containerDeTareas{
    width:190px;
}

#containerDeTareas p{
    color:#000;
    transition: color .3s ease;
}
/*4.ventana de confirmacion
.avisoEliminar, botones Sí y No*/

/*se modifica el div*/
.avisoEliminar{
    position: fixed;
    width: 350px;
    top: 50%;
    background: linear-gradient(to left, #fff, #E7E7E7);
    left: 50%;
    transform: translateY(-6px);
    height: 160px;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    z-index: 1000;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity .4s ease, transform .4s ease;
}

.avisoEliminar.visible{
    opacity: 1;
    transform: translate(-50%, -50%);
}

.avisoEliminar p{
    font-size: 20px;
    color: #000;
    padding-top: 10px ;
}

.containerAviso{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 12px;
}

/*se modifica el boton no*/
.botonNo{
    width: 60px;
    cursor: pointer;
    height: 32px;
    background: linear-gradient(to right, #F7320C, #F58427);
    color:#fff;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform:  translateY(0);
    transition: transform 0.3s ease-in-out;
}

.botonNo:hover{
    transform: translateY(-8px);
}

/*se modifica el boton si*/
.botonSi{
    width:  60px;
    cursor: pointer;
    height: 32px;
    background: linear-gradient(to right, #27F557, #27F5C2);
    color:#fff;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform:  translateY(0);
    transition: transform 0.3s ease-in-out;
}

.botonSi:hover{
    transform: translateY(-8px);
}

/*6.clases creadas con js*/

/*se modifica lo de lista*/
.lista{
    width: 800px;
    min-height: 50px;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 18px;
    background: #fff;
    margin:10px;
    border-radius: 12px;
    opacity: 0;
    transform:  translateY(4px);
    transition:  opacity .4s, transform .4s;
}

.lista.visible{
    opacity: 1;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
}

/*aqui se modifica la estrella*/
.fa-star{
    cursor:pointer;
    transition: transform .2s ease;
}

.fa-star:hover{
    transform:scale(1.2);
}

/*aqui se modifica la estrella de completa*/
.fa-regular{
    color: #FFD700;
    padding-bottom: 3px;
    margin-left: auto ;
}

/*aqui pone la estrella que representa lista favorita*/
.fa-solid{
    color:#FFD700;
    padding-bottom: 3px;
    margin-left: auto ;
}

/*se crea  la class que dice si esta pendiente o completa*/
p{
    color:#F7320C;
    transition: color .4s ease;
}

.listaCompletada{
    color:#18C995;
}

/*se modifica el div de aviso de eliminar todo*/

/*aqui se modifica el texto*/
span{
    font-size: 0.9rem;
    overflow-wrap: break-word;
}

/*aquí se modifica los botones de completar, editar, eliminar de li lista*/
.containerDeBotones{
    display: flex;
    gap:4px;
}

.containerDeBotones button{
    border: 1px solid transparent;
    background: transparent;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
}

/*5.modo oscuro:
 todas las reglas .dark juntas */

 /*aqui se modifica el icono que activa y desativa el modo*/
 #lunaCambio{
    width: 52px;
    cursor: pointer;
    fill: #27F5BB;
}

.dark{
    background: #000;
    color: #fff;
}

.dark #listado li{
    background:#272727;
    box-shadow: 0 0 20px rgba(40,20,141,0.3);
}

.dark #dividorCampo{
    background: #000;
}

.dark #cuadroDeTexto{
    background: linear-gradient(to right, #252525 ,#272727);
    color:#fff
}

.dark .avisoEliminar{
    background: linear-gradient(to right, #272727, #000);
    color: #fff;
}

.dark .avisoEliminar p{
    color: #fff;
}

.dark #containerDeTareas p {
    color: #fff;
}

.dark #menuDesplegables{
    fill: #fff
}

.dark #botonMenu:hover{
    background: #272727;
}

.dark #cajaMeni{
    background: #272727;
    color: #fff;
}

.dark #cajaMeni ul li{
    background: #272727;
}

.dark #cajaMeni ul li:hover{
    background: #333333;
}

.dark #textBuscador{
    background: #272727;
    color: #fff;   
}

.dark #lupabuscador{
    stroke: #fff;
}